{% extends 'base.html.twig' %}

{% block title %}Kurs Walut{% endblock %}

{% block body %}
    <section class="pb-5 pt-5">
        <div class="block text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h4 class="mt-5 mb-5">
                            Wybierz datę aby sprawdzić porównanie kursu walut
                        </h4>
                        <form class="form-inline d-flex justify-content-center h-25">
                            <input class="form-control  form-control mb-3 mx-1" name="givenDate"
                                   placeholder="YYYY-MM-DD">
                            <a href="{{ path('app_main')}}"><button
                                        class="btn btn-primary w-100 btn-round mb-3 btn-rised">Sprawdź kurs</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-bordered text-center">
            <div class="container-fluid">
                <blockquote class="pull-quote m-5">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th scope="col">Waluta</th>
                            <th scope="col">Kurs z dzisiaj</th>
                            <th scope="col">Kurs z {{ givenDate }}</th>
                            <th scope="col">Zmiana procentowa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>EUR</td>
                            <td>{{ currenciesToday.EUR }}</td>
                            <td>{{ currenciesOnDate.EUR }}</td>
                            <td>{{ 100-((currenciesToday.EUR / currenciesOnDate.EUR) * 100) }} %</td>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td>{{ currenciesToday.USD }}</td>
                            <td>{{ currenciesOnDate.USD }}</td>
                            <td>{{ 100-((currenciesToday.USD / currenciesOnDate.USD) * 100) }} %</td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>{{ currenciesToday.GBP }}</td>
                            <td>{{ currenciesOnDate.GBP }}</td>
                            <td>{{ 100-((currenciesToday.GBP / currenciesOnDate.GBP) * 100) }} %</td>
                        </tr>
                        <tr>
                            <td>CZK</td>
                            <td>{{ currenciesToday.CZK }}</td>
                            <td>{{ currenciesOnDate.CZK }}</td>
                            <td>{{ 100-((currenciesToday.CZK / currenciesOnDate.CZK) * 100) }} %</td>
                        </tr>
                        </tbody>

                    </table>
                </blockquote>
            </div>
        </div>
    </section>
{% endblock %}
